@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/tab-focus";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/alerts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";

$fa-font-path: 'font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.container {
  height: 500px;
  width: 100%;
  overflow: auto;
  margin-top: 15px;
}

.item {
  @extend .alert, .alert-info;
  display: flex;
  justify-content: flex-start;

  span {
    margin: auto 0;
  }
}

.input {
  @extend .form-control;
}
